<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
		
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql:///sh</property>
		
		<!-- 配置hibernate的基本属性 -->
     	<!-- 方言 Ctrl+Shift+T-->
     	<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
     	
     	<!-- 是否显示及格式化 -->
     	<property name="hibernate.show_sql">true</property>
     	<property name="hibernate.format_sql">true</property>
     	<!-- 生成数据表的策略 -->
     	<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping resource="com/huihuizheng/sh/entity/User.hbm.xml" />
    </session-factory>
</hibernate-configuration>
